body {

    font-family: 'Lato', sans-serif;
}

form {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 8px 40px 8px 20px;
}

.banner-bg {
    background: linear-gradient(180deg, #121212 -14.42%, rgba(18, 18, 18, 0.00) 100%);
}

.product {
    text-align: center;
    width: 342px;
    height: 470px;
    border-radius: 8px;
    border: 1px solid rgba(18, 18, 18, 0.10);
    background: #FFF;

}


.primary-btn {
    background-color: #F85559;
    padding: 20px 30px;
    border-radius: 8px;
    border: 0;
    color: #fff;
}


@media screen and (max-width: 768px) {
    .content-hide {
        display: none;
    }
}