body {

    font-family: 'Lato', sans-serif;
}

form {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 8px 40px 8px 20px;
}

.banner-bg {
    background: linear-gradient(180deg, #121212 -14.42%, rgba(18, 18, 18, 0.00) 100%);
}

.fruits-container {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.05);
}

.product {
    text-align: center;
    width: 342px;
    height: 470px;
    border-radius: 8px;
    border: 1px solid rgba(18, 18, 18, 0.10);
    background: #FFF;

}

.meet-section {
    background-image: url('images/dark.png'), url('images/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */

}

.primary-btn {
    background-color: #F85559;
    padding: 20px 30px;
    border-radius: 8px;
    border: 0;
    color: #fff;
}

.hr-line {
    background: rgba(18, 18, 18, 0.80);
    width: 100px;
    height: 1px;
}

.icon-bg {
    color: gray;
    text-align: center;
    background: rgba(18, 18, 18, 0.10);
    width: 60px;
    height: 60px;
    border-radius: 50%;

}




/* responsive  */
@media screen and (max-width:576px) {
    .fruits-container {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .content-hide {
        display: none;
    }

    .fruits-container {
        display: none;
    }
}